@import '../../globalVariables.scss';

.TopBar {
    position: relative;
    width: 100%;
    .navigation-bar {
        margin: 0 auto;
        background-color: $primary-color;
        .nav-link {
            color: $secondary-color;
            line-height: 40px;
            text-decoration: none;
            padding: 0 10px;
            text-transform: uppercase;
            cursor: pointer;
            display: inline-block;
            &:hover {
                color: $primary-color;
                background-color: $secondary-color;
            }
            svg {
                margin-left: 6px;
            }
        }
    }
    .TopBarContent {
        padding-top: 15px;
        width: 100%;
        box-sizing: border-box;
        border: 1px solid $primary-color;
        background-color: $secondary-color;
        border-top-width: 0;
        font-size: 13px;
        position: absolute;
        z-index: 10;
        &.hidden {
            display: none;
        }
        .category {
            @include primary-text;
            display: inline-block;
            vertical-align: top;
            padding: 0 5px;
            span {
                cursor: pointer;
                &:hover {
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
            ul {
                list-style-type: none;
                padding: 10px 0;
                margin: 0;
                li {
                    padding: 5px 0;
                }
                li {
                    &:hover {
                        text-decoration: underline;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}