@import "~bootstrap/scss/bootstrap";
@import '../../../globalVariables.scss';

.ProductItem {
    @include primary-text;
    display: inline-block;
    height: 350px;
    vertical-align: top;
    text-align: center;
    padding: 5px;
    * {
        display: block;
    }
    .ProductItemContent {
        border: 1px solid #e1e1e1;
        height: 100%;
        width: 100%;
        position: relative;
        .image {
            max-width: 80%;
            margin-left: auto;
            margin-right: auto;
        }
        .price {
            font-weight: 600;
            font-size: 22px;
            color: #444;
            margin-top: 25px;
            * {
                display: inline-block;
            }
        }
        .btn-add-cart {
            background: $primary-color;
            color: $secondary-color;
            border-color: transparent;
            font-size: 14px;
            font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
            text-transform: uppercase;
            position: absolute;
            bottom: 15px;
            left: 50%;
            transform: translate(-50%, 0);
            svg {
                display: inline-block;
                margin-right: 5px;
            }
        }
    }
}